<div class="main-shop__wrapper main-width">
    <div class="main-title"><h2>Забронируй себе мерчи и сможешь приобрести его на фестивале!</h2></div>

    <div class="shop-list">
        <div class="shop-item">
            <input type="checkbox" id="item-1" name="item-1">
            <img src="/images/shop-item-1.png" alt="Футболка с логотипом фестиваля">
            <div class="shop-item__content">
                <h3>Футболка</h3>
                <div class="shop-item__price">1 500 ₽</div>
                <div class="shop-item__features">
                    <div class="shop-item__feature">
                        <label for="size-1">Размер</label>

                        <div class="dropdown">
                            <select name="size" id="size-1" class="dropdown__native">
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>

                            <div class="dropdown__selected">Выберите размер</div>
                            <div class="dropdown__list"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-item">
            <img src="/images/shop-item-2.png" alt="Кепка с вышивкой SUP FEST">
            <h3>Кепка с вышивкой SUP FEST</h3>
            <div class="shop-item__price">800 ₽</div>
        </div>
        <div class="shop-item">
            <img src="/images/shop-item-3.png" alt="Сумка-шоппер с принтом фестиваля">
            <h3>Сумка-шоппер с принтом фестиваля</h3>
            <div class="shop-item__price">500 ₽</div>
        </div>
    </div>
</div>