<div class="main-success__wrapper">
    <div class="main-success__title">Вы зарегистрированы на фестиваль!</div>
    <div class="main-success__content">
        <img src="images/info.svg" alt="">
        <div class="main-success__text">
        <div class="main-success__main-text">На адрес <span class="main-success__email">mail@example.ru</span> придет QR код участника. Обязательно сохраните его и возьмите с собой на фестиваль.</div>
        <div class="main-success__shop-text">Товары забронированы, вы сможете приобрести их у организаторов на фестивале.</div>
    </div>
    </div>
     <div class="main-success__controls">
        <a class="btn" href="/">Вернуться на главную</a>
     </div>
</div>